#video-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 video{
   border-radius: 4%;
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 8px;
 }
.home__main{
text-align: center;
margin-top: 30vh;
}
.main{
height: 92vh;
display: flex;
}
.main__left{
flex: 0.25;
display: flex;
flex-direction: column;
overflow-y: scroll ;
}
.main__left a{
text-decoration: none;
}
.main__mid{
flex: 0.55;
}

.main__right{
flex: 0.2;
}

.main__video{
flex-grow: 1;
display: flex;
justify-content: center;
align-items: center;
padding: 40px;
}

.main__mid {
background-color: #242324;
border-left: 1px solid #3D3D42;
display: flex;
flex-direction: column;
overflow-x: hidden;
}
.main__right {
background-color: #242324;
border-left: 1px solid #3D3D42;
display: flex;
flex-direction: column;
}

.main__controls {
color: #D2D2D2;
display: flex;
justify-content: space-around;
padding: 5px;
}

.main__controls__block {
display: flex;
}
a{
text-decoration: none;
}
.main__controls__button {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 10px;
min-width: 80px;
cursor: pointer;
}
.leave-the-meet{
display: flex;
flex-direction: column;
justify-content: center;
}

.main__controls__button:hover {
background-color: #343434;
border-radius: 5px;
}

.main__controls__button i {
font-size: 24px;
}

.main__header {
padding-top: 5px;
color: #F5F5F5;
text-align: center;
}
.participants__header{
padding-top: 5px;
color: #F5F5F5;
text-align: center;
}

.main__chat_window {
flex-grow: 1;
overflow-y: scroll;
}

.messages{
color: white;
list-style: none;
}

.main__message_container {
padding: 22px 12px;
display: flex;
}
.participants__list {
padding: 22px 12px;
display: flex;
flex-grow: 1;
overflow-y: scroll;
}

.participant{
color: white;
}

.main__message_container input {
flex-grow: 1;
background-color: transparent;
border: none;
color: #F5F5F5;
}

.leave_meeting {
color: #EB534B;
}

.unmute, .stop {
color: #CC3B33;
}

.home-card{
display: flex;
justify-content: center;
align-items: center;
}

.last__msg{
font-size: 15px;
}
.main__chats__button{
text-decoration: none;
display: -ms-flexbox;
align-items: flex-start;
padding: 20px 7px;
border-bottom: 2px solid #fbfbfb;
font-family: CircularStd,sans-serif;
font-size: 35px;
background: #fdfdfd;
color: #75698a;
}
.main__chats__button__current{
text-decoration: none;
display: -ms-flexbox;
display: flex;
-ms-flex-align: start;
align-items: flex-start;
padding: 20px 7px;
border-bottom: 2px solid #fbfbfb;
font-family: CircularStd,sans-serif;
font-size: 35px;
background: #212529;
color: #75698a;
}
.main__chats__button a:hover{
text-decoration: none;
}

.main__left a{
color: black;
text-decoration: none;
}
.main__left a :hover{
color: black;
text-decoration: none;
}
.date{
font-size: 10px;
}
.last__msg p{
display: flex;
justify-content: space-around;
}

.message{
word-wrap: break-word;
}

li{
word-wrap: break-word;
white-space: normal;
float: left;
width: 100%;
height: auto;
}

.meet__details{
color: white;
text-align: center;
}

.join__button{
background-color: white;
}